body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для текста */
    background-color: #f4f4f4; /* Задаем цвет фона страницы */
    display: flex; /* Устанавливаем flexbox для выравнивания содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    height: 100vh; /* Задаем высоту окна равной 100% высоты экрана */
    margin: 0; /* Убираем отступы по краям */
}

.container {
    background-color: #fff; /* Задаем белый цвет фона контейнера */
    padding: 20px; /* Устанавливаем внутренние отступы контейнера */
    border-radius: 5px; /* Скругляем углы контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для объема */
}

form {
    display: flex; /* Используем flexbox для выравнивания элементов формы */
    flex-direction: column; /* Устанавливаем вертикальное расположение элементов */
}

label {
    margin-bottom: 5px; /* Добавляем отступ снизу для метки */
}

input {
    margin-bottom: 15px; /* Добавляем отступ снизу для полей ввода */
    padding: 8px; /* Внутренние отступы для полей ввода */
    border: 1px solid #ccc; /* Граница для полей ввода */
    border-radius: 3px; /* Скругление углов полей ввода */
}

button {
    padding: 10px; /* Внутренние отступы для кнопки */
    background-color: #5cb85c; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Убираем границу у кнопки */
    border-radius: 3px; /* Скругляем углы кнопки */
    cursor: pointer; /* Меняем курсор при наведении на кнопку */
}

button:hover {
    background-color: #4cae4c; /* Цвет кнопки при наведении курсора */
}

#message {
    margin-top: 20px; /* Отступ сверху для сообщения */
    font-size: 1.2em; /* Размер шрифта для сообщения */
    color: green; /* Цвет текста сообщения */
}
